.board-actions {
  margin-top: -12px;
}

.board-columns {
  .deck {
    margin-bottom: 12px;
    .list-group {
      .list-group-item {
        padding: 12px;

        .list-card-votes {
          margin-bottom: 12px;
        }

        .list-card-date{
          text-align: right;
          margin: 4px 0px 8px 0px;
          font-size: 0.75rem;

          i {
            margin-right: 2px;
          }
        }
      }

      .list-group-item:first-child {
        font-size: 1.4rem;
      }
    }
  }
}
