.board-actions {
  margin-top: -12px;
}

.board-stacks {
  .stack {
    margin-bottom: 12px;
    .list-heading {
      font-size: 1.2rem;
      color: #fff;
      padding: 12px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    .list-group {
      .list-group-item {
        padding: 12px;

        .list-card-votes {
          margin-bottom: 12px;
        }

        .list-card-date{
          text-align: right;
          margin: 4px 0px 8px 0px;
          font-size: 0.75rem;

          i {
            margin-right: 2px;
          }
        }
      }
      .list-group-item:first-child {
        border-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}

.card-body-content {
  max-height: 300px;
  overflow-y: scroll;
}
