<div class="row mb-2">
  <div class="col-lg-12">
    <h1 class="page-header"> <%= @board.title %> </h1>
    <div> <%= raw(Earmark.as_html!(@board.description)) %> </div>
  </div>
</div>

<div class="row board-actions mb-2">
  <%= render(ShowComponentView, "_board_actions.html", assigns) %>
</div>

<div id="board-stacks" class="row board-stacks">
  <%= render(ShowComponentView, "_board_stacks.html", assigns) %>
</div>
